.multi-selectbox {
  position: relative;
  /* Layout */
  /* States */ }
  .multi-selectbox header {
    position: relative;
    margin: 0 0 6px; }
  .multi-selectbox .message, .multi-selectbox .filter-clear, .multi-selectbox .tbl-message, .multi-selectbox .btn {
    display: none; }
  .multi-selectbox .btn {
    margin-left: 6px; }
  .multi-selectbox .filter {
    visibility: hidden;
    width: 50%; }
  .multi-selectbox .filter-clear, .multi-selectbox .selected, .multi-selectbox .message {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0; }
  .multi-selectbox .message {
    right: auto;
    left: 0; }
  .multi-selectbox .tbl-div {
    overflow: auto; }
    .multi-selectbox .tbl-div a .glyphicon {
      display: none; }
  .multi-selectbox.edit-read-only button.btn-select {
    display: inline-block; }
  .multi-selectbox.edit-read-only.dirty .message {
    display: inline-block; }
  .multi-selectbox.edit .message {
    display: none; }
  .multi-selectbox.edit .filter {
    visibility: visible; }
  .multi-selectbox.edit button.btn-select {
    display: none; }
  .multi-selectbox.edit button.btn-use, .multi-selectbox.edit button.btn-back {
    display: inline-block; }
  .multi-selectbox.edit .tbl-div {
    overflow: auto; }
    .multi-selectbox.edit .tbl-div a .glyphicon {
      display: inline-block; }
  .multi-selectbox.edit.filter-active .selected {
    display: none; }
  .multi-selectbox.edit.filter-active .filter-clear {
    display: inline-block; }
