.multi-selectbox {
  position: relative;
  margin: 0 0 12px;
  /* Layout */
  /* States */ }
  .multi-selectbox header {
    position: relative;
    margin: 0 0 6px; }
  .multi-selectbox .message, .multi-selectbox .filter-clear, .multi-selectbox .tbl-message, .multi-selectbox .btn {
    display: none; }
  .multi-selectbox .btn {
    margin-left: 6px; }
  .multi-selectbox .btn-show-checked-only {
    position: absolute;
    left: 3px;
    bottom: 24px;
    margin: 0;
    padding: inherit 15px; }
    .multi-selectbox .btn-show-checked-only:focus {
      outline: none; }
    .multi-selectbox .btn-show-checked-only .glyphicon {
      margin-right: 6px; }
  .multi-selectbox .filter {
    position: relative;
    visibility: hidden;
    width: 50%; }
    .multi-selectbox .filter .glyphicon {
      position: absolute;
      top: 50%;
      right: 1em;
      margin-top: -0.5em; }
      .multi-selectbox .filter .glyphicon.glyphicon-remove {
        display: none; }
  .multi-selectbox .filter-clear, .multi-selectbox .selected, .multi-selectbox .message {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0; }
  .multi-selectbox .message {
    right: auto;
    left: 0; }
  .multi-selectbox .tbl-message {
    position: absolute;
    top: 4em;
    left: 20px; }
  .multi-selectbox .tbl-div {
    overflow: auto;
    max-height: 240px;
    border: 1px #ddd solid;
    border-radius: 4px; }
    .multi-selectbox .tbl-div a {
      cursor: default;
      border: none !important;
      border-top: #ddd 1px solid !important; }
      .multi-selectbox .tbl-div a .glyphicon {
        display: none; }
      .multi-selectbox .tbl-div a:first-child {
        border-top: none !important; }
      .multi-selectbox .tbl-div a.active {
        border-top: 1px #428BC5 solid !important; }
        .multi-selectbox .tbl-div a.active:first-child {
          border-top: none !important; }
  .multi-selectbox .selected em {
    font-style: normal; }
  .multi-selectbox.read-only.no-results .tbl-div {
    display: none; }
  .multi-selectbox.edit-read-only button.btn-select {
    display: inline-block; }
  .multi-selectbox.edit-read-only.dirty .message {
    display: inline-block; }
  .multi-selectbox.edit-read-only.no-results .tbl-div {
    display: none; }
  .multi-selectbox.edit .message {
    display: none; }
  .multi-selectbox.edit .filter {
    visibility: visible; }
  .multi-selectbox.edit button.btn-select {
    display: none; }
  .multi-selectbox.edit button.btn-use, .multi-selectbox.edit button.btn-back, .multi-selectbox.edit button.btn-show-checked-only {
    display: inline-block; }
  .multi-selectbox.edit .tbl-div {
    height: 240px;
    overflow: auto; }
    .multi-selectbox.edit .tbl-div a {
      cursor: pointer; }
      .multi-selectbox.edit .tbl-div a .glyphicon {
        display: inline-block;
        margin-right: 4px; }
  .multi-selectbox.edit.filter-active header .selected {
    display: none; }
  .multi-selectbox.edit.filter-active header .filter-clear {
    display: inline-block; }
  .multi-selectbox.edit.filter-active header .filter .glyphicon.glyphicon-remove {
    display: inline-block; }
  .multi-selectbox.edit.filter-active header .filter .glyphicon.glyphicon-search {
    display: none; }
  .multi-selectbox.edit.no-results .tbl-message {
    display: block; }
