
.app {
  font-family: 'Muli', 'Helvetica Neue', helvetica, arial;
  max-width: 760px;
  margin: 20px auto;
  overflow: hidden;
}

.section {
  background: #f8f8f8;
  min-height: 100px;
  position: relative;
}

.section .spinner {
  display: block;
  background: url(http://backbone-notifier.e-w.co.il/imgs/notifier-loader-clean.gif);
  position: absolute;
  top: 3px;
  left: 180px;
  display: none;
  width: 16px;
  height: 16px;
}

.section.is-loading .spinner {
  display: block;
}
.section .list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section .list .item {
  max-width: 200px;
}

.section .list .item button {
  width: 100%;
  cursor: pointer;
  text-align: left;
}

.section .list .item button:hover {
  color: #555;
}

.section .list .item.active button, .section .list .item.active button:hover {
  color: #6699cc;
}