.multi-selectbox {
  position: relative;
  margin: 0 0 12px;
	header {
		position: relative;
		margin: 0 0 6px;
	}
	.message, .filter-clear, .tbl-message, .btn {
	  display: none;
	}
	.btn {
		margin-left: 6px;
	}

	.btn-show-checked-only {
		position: absolute;
		left: 3px;
		bottom: 24px;
		margin: 0;
		padding: inherit 15px;
		&:focus {
			outline:none;
		}
		.glyphicon {
			margin-right: 6px;
		}
	}
 
	.filter {
		position: relative;
		visibility: hidden;
		width: 50%;
		.glyphicon {
			position: absolute;
			top: 50%;
			right: 1em;
			margin-top: -.5em;
			&.glyphicon-remove {
				display: none;
			}
		}
	}

/* Layout */

	.filter {
/* 	  position: absolute;
	  top: 0;
	  left: 0; */
	}


	
	.filter-clear, .selected, .message {
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 0;
	}

	.message {
	  right: auto;
	  left: 0;
	}

	.tbl-message {
		position: absolute;
		top: 4em;
		left: 20px;
	}

	.tbl-div {
		overflow: auto;
		max-height: 240px;
		border: 1px #ddd solid;
		border-radius: 4px;
		a {
			cursor: default;
			.glyphicon {
				display: none;
			}
			&:nth-child(odd) {
				/*background: #f8f8f8;*/
			}
			border: none !important;
			border-top: #ddd 1px solid !important;
			&:first-child {
				border-top: none !important;
			}
			&.active {
				border-top: 1px #428BC5 solid !important;
        &:first-child {
          border-top: none !important;
        }
			}
		}
	}

	.selected {
		em {
			font-style: normal;
		}
	}

/* States */

	&.read-only {
		&.no-results {
			.tbl-div {
				display: none;
			}
		}
	}

	&.edit-read-only {

		button.btn-select {
			display: inline-block;				
		}

		&.dirty {
			.message {
				display: inline-block;
			}
		}
		&.no-results {
			.tbl-div {
				display: none;
			}
		}
	}

	&.edit {
		.message {
			display: none;
		}
		.filter {
			visibility: visible;
		}

		button.btn-select {
			display: none;				
		}
		button.btn-use, button.btn-back, button.btn-show-checked-only {
			display: inline-block;				
		}

		.tbl-div {
			height: 240px;
			overflow: auto;
			a {	
				cursor: pointer;
				.glyphicon {
					display: inline-block;
          margin-right: 4px;
				}
			}
		}
		&.filter-active {
			header {
				.selected {
					display:none;
				}
				.filter-clear {
					display: inline-block;
				}
				.filter {
					.glyphicon {
						&.glyphicon-remove {
							display: inline-block;
						}
						&.glyphicon-search {
							display: none;
						}
					}
				}		
			}
		}
		&.no-results {
			.tbl-message {
				display: block;
			}
		}
	}
}
